#content a.new {
  color: #dd0000;
}

#content a.new:hover {
  color: #990000;
}

#content a.external {
  background: transparent url(external.png) no-repeat scroll right center;
  padding-right: 13px;
}

#footer #mw_poweredby {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
  color: #b0b0b0;
}

.printfooter,
#editpage-copywarn {
  display: none;
}

.editOptions {
  margin-top: 10px;
  text-align: right;
}

.editOptions > label {
  color: #ccc;
}

.editHelp {
  display: none;
}

.editButtons {
  margin-top: 10px;
}

#wikiDiff,
#wikiPreview {
  border-bottom: 5px solid #EDECEA;
  margin: 20px 0;
}

#content #wikiPreview h2:first-child {
  display: none;
}

#wikiPreview .previewnote {
  border: 1px solid #cccccc;
  margin: 0;
  margin-bottom: 1em;
  padding: 10px 5px;
  background-color: #ffff99;
  font-weight: normal;
}

#wpPreview, #wpDiff {
  float: left;
}

#content h1,
#content h2 {
  background:transparent url(./img/hr_trans.png) no-repeat scroll center bottom;
}

#content h1 .editsection, 
#content h2 .editsection {
  float: right;
  display: none;
  color: white;
}

#content .headline {
  background:transparent url(./img/hr_trans.png) no-repeat scroll center bottom;
  padding-bottom: 6px;
}

#content h1:hover .editsection,
#content h2:hover .editsection {
  display: inline;
}

#content h1 .editsection a,
#content h2 .editsection a {
  color: #ccc;
  text-decoration: none;
}

#content h1 .editsection a:hover,
#content h2 .editsection a:hover {
  color: #9e988e;
  text-decoration: underline;
}

#content h3 .editsection {
  display: none;
}

#content .mcs_edit_button {
  float:right;
}

#wpTextbox1 {
  width: 100%; 
}

/* Menu box toc */

#content .toc {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 5px 0px 25px 0px;
  font-family: Verdana;
  border: 1px solid #eae7de;
  width: 209px;
}

#content .toc.left {
  float: left;
  margin-right: 25px;
}

#content .toc.right {
  float: right;
}

#content .toc h3 {
  font-size: 2.2em;
  line-height: 2em;
  color: #6e685e;
  font-family: Georgia;
  padding-top: 0px;
}

#content .toc ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#content .toc ul ul {
  padding-left: 15px;
}

#content .toc.expand ul ul,
.aside .toc.expand ul ul {
  display: none;
}

#content .toc.expand ul li:hover > ul,
.aside .toc.expand ul li:hover > ul {
  display: block;
}

#content .toc li {
  border-top: 1px solid #eae7de;
  padding: 0;
  margin: 0;
}

#content .toc li a {
  text-decoration: none;
  display: block;
}

#content .toc li a.active {
  font-weight: bold;
}

#right-menu #ca-nstab-main,
#right-menu #ca-edit,
#right-menu #ca-talk,
#right-menu #ca-addsection,
#right-menu #ca-history {
  font-weight: bold;
}

#searchform div {
  margin-top: 1em;
}
