/* wiki.mozilla-tunisia.org moztn Content Styles
 * Design by MedFiras
 */

/* Body */
	@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('fonts/MetaWebPro-Black.eot');
}

/* then for Mozilla browsers -> Firefox */
@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('fonts/MetaWebPro-Black.woff') format('woff');
}

#mainContent, #side {
	background: #ffffff;
	line-height: 1.3; /* value other than 'normal' needed for WinIE */
}

.deepLevel #mainContent {
	line-height: 1.4;
}

#nav {
	line-height: 1em;
}

#mainContent p {
    line-height: 1.5em;
    text-align: justify;
}

/* Random HTML Styles */

input[type="submit"] {
	font-weight: bold;
}

.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	border-left: 4px solid #ffa500;
	color: black;
	font-weight: normal;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
.errorbox, .successbox {
	font-size: small;
	border: 1px solid;
	padding: .3em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
    border-color: #DF421E;
    background-color: #fff2f2;
}
.successbox {
	border-color: #267726;
	background-color: #dfd;
}

li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	background: none; /* removes the icon in front of the user name */
}

.os-suggest {
	font-size: 100%; /* the font size for MediaWiki Suggest */
}

.errorbox, .successbox, .catlinks, .infobox, div.thumbinner, .toc,
.fn, .noarticletext, .mbox-small {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Change the default colors of navigation boxes */

.navbox-title, table.navbox th {
    background: none repeat scroll 0 0 #9DB8D2 !important;
}

.navbox-abovebelow, .navbox-group, .navbox-subgroup .navbox-title {
    background: none repeat scroll 0 0 #EAE8E3 !important;
}

/* General Structure */
body {
    color: #333333;
    font: 14px/1.286 "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
    margin: 0 auto;
    min-height: 400px;
}

input {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.3em 0;
    font-family: Ubuntu, sans-serif;
}

h6 { font-size: 90%;  }

h1, h2 {
	text-shadow: 1px 1px 2px #A5A5A5;
}

li h1, li h2, li h3, li h4, li h5, li h6 {
	border: none;
}

tt, code, pre {
	font-family: monospace, 'Courier New', Courier !important;
	overflow: auto;
	line-height: 1.4em;
}

code {
	color: green;
}

#header h1 { border: 0; }

/* Quotations */


/* Comments and other Asides */

.note {
	color: #666;
	font-style: normal;
}

.remark {
	color: #666;
}

.sidenote {
	border: #666;
}

.key-point:before {
	line-height: 0.1;
	font-size: 1px;
	background: transparent url("../../images/key-point_tr.gif") no-repeat top right;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/key-point_tl.gif");
}
.key-point {
	background: #e4ecec url("../../images/key-point_back.gif") right repeat-y;
	padding: 15px;
	margin-bottom: 1em;
}
.key-point:after {
	display: block;
	clear: both;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content:  url("../../images/key-point_bl.gif");
	margin: -15px;
	height: 8px;
	background: transparent url("../../images/key-point_br.gif") scroll no-repeat bottom right ;
}

.key-point h2, .key-point h3, .key-point h4, .key-point h5 {
	border: none;
	margin-top: 0;
	color: #4C5C5C;
}

.news dt {
	font-weight: normal;
	color: #666;
}
.news dt a {
	font-weight: bold;
}

ul.compact {
	margin-left: 0;
	padding-left: 20px;
}

/* Emphasis */

/* Computers - General */

kbd {
	margin: 0.1em;
	padding: 0.1em;
	border: 1px #ccc;
}

kbd.command,
code.command {
	color: #6B5839;
}

/* Code */

pre.code {
	background: #EEECF6;
}

code > em,
code > strong,
pre.code > em,
pre.code > strong {
	font-style: normal;
}

/* Examples and Figures */

div.example {
	border-color: #554FA0;
}
div.example:before {
	color: #666;
}

/* Q and A (FAQ) */

ol.faq li a {
text-decoration: none;
border-bottom: 1px dotted #6C98EE;
}

ol.faq li a:hover {
border-color: #039;
}


/* Tables */

table.data thead th {
	background: #e4ecec;
	empty-cells: hide;
}

table.data th,
table.data td {
	border: 1px solid #ccc;
}

tr.odd {
	background: #F5F5F5;
}

/* Meta */

address {
	color: #666;
}

/* Product Specific CSS */

.productlist h3 {
	border: none;
}

.key-point h1, .key-point h3 {
	margin: 0;
}

#product-desc h2 {
	text-indent: -700em;
	height: 25px;
	line-height: 2px;
	font-size: 2px;
}

#product-desc p {
	padding-left: 170px;
}

#product-desc ul, #key-desc {
	padding-left: 190px;
	margin-bottom: 0;
}

#product-side, #key-side {
	margin-left: 65%;
}

#product-side ul, #key-side ul {
	margin-left: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

#product-side li, #key-side {
	padding-bottom: 0.2em;
}

#product-desc, #key-desc {
	padding: 40px 0 25px 0;
	color: #4C5C5C;
	width: 60%;
	float: left;
	line-height: 140%;
}

#key-desc {
	padding: 0;
}

#key-side {
	color: #4C5C5C;
}

.product-firefox {
	background: url("../../images/product-firefox-screen.png") no-repeat;
}
.product-thunderbird {
	background: url("../../images/product-thunderbird-screen.png") no-repeat;
}
.product-camino {
	background: url("../../images/product-camino-screen.png") no-repeat;
}
.product-mozilla {
	background: url("../../images/product-mozilla-screen.png") no-repeat;
}

#product-side .download h3 {
	color: #1D9101;
	font-weight: bold;
	margin: 0;
	font-size: 140%;
}

.download h3 :link,
.download h3 :visited,
.download h3 :link:active, .download h3 :visited:active {
	color: #1D9101;
}

.download h3 :link:hover, .download h3 :visited:hover {
	color: #156B01;
}

.download li {
	padding: 0;
	margin: 0;
}
.download ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.other a:link, .other a:visited { color: #666; }
.download .other a:hover { color: #000; }
.download:before {
	line-height: 0.1;
	font-size: 1px;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/download_tl.gif");
}
.download {
	background: #C4EFA1 url("../../images/download_back.gif") top right no-repeat;
	padding: 15px 45px 15px 15px;
	margin-bottom: 0.5em;
}
.download:after {
	display: block;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content:  url("../../images/download_bl.gif");
	margin: -10px -45px -15px -15px;
	height: 8px;
	background: transparent url("../../images/download_br.gif") scroll no-repeat bottom right ;
}
.configParent {
	display: block;
	font-size: 85%;
}

.shop:before, .shopmoz:before {
	line-height: 0.1;
	font-size: 1px;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/shop_tl.gif");
}
.shop {
	background: #C0DCDC url("../../images/shop_back.gif") top right no-repeat;
	padding: 15px 70px 15px 15px;
}
.shopmoz {
	background: #C0DCDC url("../../images/shopmoz_back.gif") top right no-repeat;
	padding: 15px 70px 15px 15px;
}
.shop:after, .shopmoz:after {
	display: block;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content: url("../../images/shop_bl.gif");
	margin: -10px -70px -15px -15px;
	height: 8px;
	background: transparent url("../../images/shop_br.gif") scroll no-repeat bottom right ;
}

/* Firefox Central styles  */
#ffcentral-desc {
        background: url("../../products/firefox/t-welcomefirefox.gif") no-repeat;
        width: 60%;
        float: left;
        line-height: 140%;
}
#ffcentral-desc div {
        padding: 40px 0 0 100px;
}
#ffcentral h3, #ffcentral h2, #ffcentral p, #ffcentral ul {
        margin-top: 0;
        color: #4C5C5C;
}

/*
** footer
*/
#footer {
	background-color: white;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 0.4em 0 0.4em 0;
	text-align: center;
	font-size: 90%;
	color: #666666;
	margin-bottom: 0;
}
#footer a{
	color: #EB9F81;
	font-size: 100%;
}
button{
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button:hover,button:focus{
	color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
button:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
}
button:hover,
button:focus,
button:active,
button.active,
button.disabled,
button[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

button:active,
button.active {
  background-color: #24748c \9;
}
input[type="submit"] {
	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
}
input[type="submit"]:hover{
	background-position: 0 -27px;
    text-decoration: none;
    transition: background-position 0.03s linear 0s;
}
pre{
	background: url("blueprint-dark.png") repeat scroll center top rgba(234, 239, 242, 0.25);
    border-left: 6px solid rgba(0, 83, 159, 0.65);
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    -moz-hyphens: none;
    -moz-tab-size: 4;
    color: #000000;
    direction: ltr;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    text-align: left;
    text-shadow: 0 1px #FFFFFF;
    white-space: pre;
    word-spacing: normal;
    font-size: 12px !important;
    line-height: 19px !important;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
}

blockquote {
	background: url("blueprint-dark.png") repeat scroll center top rgba(234, 239, 242, 0.25);
	font-family: Georgia, serif;
	font-size: 18px;
	width:auto;
	font-style: italic;
	margin: 1em 0;
	padding: 1em 60px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	border: 6px solid rgba(165, 217, 243, 0.65);
}
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 60px;
	position: absolute;
	left: -20px;
	top: -10px;
	color: #7a7a7a;
	margin-left: 0.5em;
}
blockquote:after {
	display: block;
	content: "\201D";
	font-size: 60px;
	position: absolute;
	/*left: -20px;*/
	bottom: -35px;
	color: #7a7a7a;
	right: 20px;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
.alert-danger{
	background-color: rgba(193, 56, 50, 0.85);
    color: #C13832;
    font-style: italic;
    border: 2px solid #AC6262;
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-style: solid !important;
    border-width: 5px !important;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 10px;
}

.alert-warning{
	background-color: rgba(255, 153, 0, 0.65);
    color: #C13832;
    font-style: italic;
    border: 2px solid #CC6600;
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-style: solid !important;
    border-width: 5px !important;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 10px;
}

.alert-info{
	background-color: rgba(51, 153, 255, 0.65);
    color: #C13832;
    font-style: italic;
    border: 2px solid #0066CC;
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-style: solid !important;
    border-width: 5px !important;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 10px;
}

.alert-success{
	background-color: rgba(51, 173, 51, 0.65);
    color: #C13832;
    font-style: italic;
    border: 2px solid #006600;
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-style: solid !important;
    border-width: 5px !important;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 10px;
}

.div-note{
	border-radius: 5px;
	float:left;
	margin:1.5%;
	border: 1px solid #C4C295;
	text-align:center;
	padding:2.5%;
	padding-top:0px;
}
.div-note-body{
	text-align:justify;
}
.div-note-small{
	width:25%;
}
.div-note-medium{
	width:58.5%;
}
.div-note-big{
	width: 92%;
}
.div-note-green{
	background-color:#4AA02C;
}

.div-note-blue{
	background-color:#A2BFF4;
}
.div-note-yellow{
	background-color:#FFCC00;
}
.div-note-red{
	background-color:#FF5050;
}
.div-note-orange{
	background-color:#F88017;
}
