/* wiki.mozilla-tunisia.org moztn Template Styles
 * Initial Design by MedFiras
*/

/* Basic Structure */
	@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('fonts/MetaWebPro-Black.eot');
}

/* then for Mozilla browsers -> Firefox */
@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('fonts/MetaWebPro-Black.woff') format('woff');
}

	body {
		background: #fff url("body_back.gif") repeat-x;
	}

/* Header */

	#header {
		background: url("bg-pinstripe.png") repeat-x scroll center top #000000;
	    border-bottom: 4px solid #F8D575;
	    border-top: 2px solid #FFFFFF;
	    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	    color: #CCCCCC;
	    min-height: 90px;
	}

    #ignored {}

	#header h1 {		
		margin: 0;		
		height: 8px;
		z-index: 100; /* above the UL */
	}
	#header h1 a {
		display: inline;
		height: 58px;
		/* background: transparent url("header_logo.gif") no-repeat; */
	}
	#header ul {
		float: left;
	    font: 200 18px/1 "Bebas Neue","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif !important ;
	    letter-spacing: 0.5px;
	    margin: 0 0 6px 70px;
	    text-transform: uppercase;	    
	}
	#header ul:after{
		clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	}
	#header li {
		float: right;
		
		padding: 0 6px 0 0;
		margin: 0 1px 0 0;
		border-bottom: 1px solid #515358;
	}
	#header ul a {
		float: left;
		display: block;
		padding: 4px 4px 4px 10px;
		
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	#header ul li:hover a { background-position: 0% -400px; }
	#header ul li:hover { background-position: 100% -400px; border-bottom: 1px solid #FFAE3B;}

	body.sectionAbout li#menu_aboutus a,
	body.sectionProducts li#menu_products a,
	body.sectionSupport li#menu_support a,
	body.sectionDevelopers li#menu_developers a,
	body.sectionStore li#menu_store a {
		background-position: 0% -200px;
		color: #039;
	}

	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionSupport li#menu_support,
	body.sectionDevelopers li#menu_developers,
	body.sectionStore li#menu_store {
		background-position: 100% -200px;
		border-bottom: 1px solid #fff;
	}

	body.sectionAbout li#menu_aboutus:hover,
	body.sectionProducts li#menu_products:hover,
	body.sectionSupport li#menu_support:hover,
	body.sectionDevelopers li#menu_developers:hover,
	body.sectionStore li#menu_store:hover {
		background-position: 100% 0%;
	}

	body.sectionAbout li#menu_aboutus:hover a,
	body.sectionProducts li#menu_products:hover a,
	body.sectionSupport li#menu_support:hover a,
	body.sectionDevelopers li#menu_developers:hover a,
	body.sectionStore li#menu_store:hover a {
		background-position: 0% 0%;
		color: #333;
	}

/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 20px 0 0;		
		margin: 0 19% 0 0;
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
	#header form label { color: #fff; font-size: 110%; }
	#header form input { font-size: 90%; }

    #searchform div {
        margin-top: 0;
    }

    #searchform #searchInput {
	    background: url("search-icons.png") no-repeat scroll 6px -96px rgba(80, 80, 80, 0.9);
	    border: 1px solid #666666;
	    color: #AAAAAA;
	    float: right;
	    font-size: 0.857em;
	    margin: 6px 0 0 4px;
	    padding: 3px 4px 3px 28px;
	    width: 160px;
	}
	#searchform #searchInput:hover, #searchform #searchInput:focus {
	    background-color: #FFFFFF;
	    border-color: #9C0D10;
	    color: #333333;
	}
	/*#header form #searchInput {
        width: 170px;
        font-size: 90%;
        border: 0px solid #293756;
        background: #D9DBE1;
        padding: 2px 3px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	}*/
	/*#header form #searchInput:hover, #header form #searchInput:focus {
        background: #fff;
	}*/

	#text-logo{
		margin-left: 45%; 
		margin-top: -25px; 
		display: block;
		width: auto;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	#text-logo {
		width: 250px;
	}
}
	#img-logo{		
    	margin-top: -5px;
    	width:93px; 
    	height:71px;
	}
/* Sidebar */

	#nav:before {
		line-height: 0.1;
		font-size: 1px;
		margin: 0;
		height: 9px;
		display: block;
	}
	
	#nav:after {
		display: block;
		padding-top: 0;
		line-height: 0.1;
		font-size: 1px;
		margin: 0 0 0 0;
		height: 8px;	
		border-top: 1px solid #fff;
	}
	#nav ul {
		display: block;
	}
	#nav, #nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#nav {
		background: none repeat scroll 0 0 #FFFFFF;
		float: left;
	    padding: 10px 20px;
	    position: relative;
	}
	#nav li {
		display: inline;
		padding: 0;
		margin: 0;
	}

	#nav li span { /* used for un-linked menu items */
		display: block;
		padding-top: 10px;
		font-weight: bold;
		color: #666;
		text-shadow: 0px 1px 0px #ffffff;
		letter-spacing: 0.8px;
		font: 20px/1.1 "Bebas Neue","League Gothic",Haettenschweiler,"Arial Narrow",sans-serif;
	}

	#nav li span#configParent, #nav li span #configuration {
		display: inline;
		font-weight: normal;
		padding: 0;
	}
	#nav li span a{
		color: red;
		font: 20px/1.1 "Bebas Neue","League Gothic",Haettenschweiler,"Arial Narrow",sans-serif;
	}
	#nav li span a:hover{

	}
	#nav li a {
		display: block;
		padding: 8px 10px;
		text-decoration: none;		
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		font-family: "Bebas Neue","League Gothic",Haettenschweiler,"Arial Narrow",sans-serif;
		font-weight: normal;
		font-size: 18px;
		letter-spacing: 1px;
	}
	
	#nav li a:hover {
		background: #E0E9E9;
		-webkit-transition: background-color 500ms linear;
	     -moz-transition: background-color 500ms linear;
	     -o-transition: background-color 500ms linear;
	     -ms-transition: background-color 500ms linear;
	     transition: background-color 500ms linear;
	}

	#nav li li span { /* used for un-linked menu items */
		padding: 4px 8px 4px 20px;
	}

	#nav li li a {
		padding: 6px 8px 6px 20px;
	}

	#oN {
		background-color: #E0E9E9;
	}
	#oN:hover {
		background-color: #C6DCDC;
	}

/* Footer */

	#footer {
		border-top: 1px solid #999;
		border-bottom: 0px; /* removes the yellow line */
		margin: 2em 0;
		padding: 1em 0;
		text-align: center;
	}

	#footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#footer li {
		display: inline;
	}

	#footer a {
		white-space: nowrap;
	}

	#footer p,#footer p a {
		color: #666;
	}

	#footer p a:hover {
		color: #000;
	}

	#footer p span {
		padding-right: 1em;
	}
